<link
rel="stylesheet"
href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
/>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
<br><br id="acc"><br><br>
<div>
  <h3>FAQs</h3>
  <div class="card">
    <div class="card-header">
      <a href="#collapseone" class="card-link" data-toggle="collapse"
        >Which iphone is best iphone 13 pro max or 14 pro max in terms of
        battery</a
      >
    </div>
    <div id="collapseone" class="collapse show" data-parent="#accordian">
      <div class="card-body">
        In terms of battery life, the iPhone 13 Pro Max generally offers
        better performance than the iPhone 12 Pro Max. The iPhone 13 Pro Max
        has a larger battery and is more power efficient due to improvements
        in the A15 Bionic chip and software optimization. It can provide up
        to 28 hours of talk time, up to 95 hours of audio playback, up to 25
        hours of video playback, and up to 95 hours of audio playback.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <a href="#collapsetwo" class="card-link" data-toggle="collapse"
        >which iphone currently has best display?</a
      >
    </div>
    <div id="collapsetwo" class="collapse" data- parent="#accordian">
      <div class="card-body">
        iphone 15 series has best display in comparision to previous
        generation iphone series.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <a href="#collapsethree" class="card-link" data-toggle="collapse"
        >which iphone should you consider worth the money in 2024?</a
      >
    </div>
    <div id="collapsethree" class="collapse" data-parent="#accordian">
      <div class="card-body">
        iPhone 13 is absolutely worth the money considering specifications
        it's providing at its price segment compare to other phones at same
        price.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <a href="#collapsefour" class="card-link" data-toggle="collapse"
        >which iphone is latest iphone in 2024?</a
      >
    </div>
    <div id="collapsefour" class="collapse" data-parent="#accordian">
      <div class="card-body">
        iphone 15 series are latest iphones in which pro series are powered
        by A17 bionic chip and non-pro series are powered by A16 bionic
        chip.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <a href="#collapsefive" class="card-link" data-toggle="collapse"
        >Should you consider Iphone 12 worth the specifications now?</a
      >
    </div>
    <div id="collapsefive" class="collapse" data-parent="#accordian">
      <div class="card-body">
        Well this year iphone 15 series will come so accordingly iphone 12
        model is quite old so u can consider iphone 13 series instead of 12,
        considering future software updates.
      </div>
    </div>
  </div>
</div>